
$background-light: #4f5b62;
$background-dark: #263238;
$background-main: #000a12;

//Blanket formatting for entire application
p {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  align-content: center;
  height: 100vh;
  color: white;
  background-color: $background-main;
  a {
    text-decoration: none;
    color: white;
    &:active, &:hover, &:visited {
      text-shadow: 0 0 2px black;
    }
  }
}

//Keeps contents of the page within 1600px width when on larger monitors and centers
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

//Top navigation formating
.nav-container {
  height: 5.6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: $background-light;
  background: linear-gradient(to bottom, $background-light, $background-dark, $background-light);
}
.left-nav-container {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.right-nav-container {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.link-btn {
  height: 100%;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, $background-light, $background-dark, $background-light);
  box-shadow: 0 0 5px $background-main inset;
  &:hover {
    background: linear-gradient(to bottom, $background-dark, $background-light, $background-dark);
    box-shadow: 0 0 5px $background-main inset;
  }
}


//Section formating where "pages" change.
.display-content {
  height: 94vh;
}

//Formating for
.footer {
  height: 1.5vh;
  background-color: $background-main;
  p {
    margin: 0;
  }
}

.content-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

//GLOBAL CHANGES FOR MULTIPLE SECTIONS

.resp-break {
  display: inline;
}

//***TOP SECTION TITLE AREA***
@keyframes top-content-animate {
  0% {
    filter: grayscale(.7);
  }
  25% {
    filter: grayscale(.4);
  }
  50% {
    filter: grayscale(.3);
  }
  75% {
    filter: grayscale(.4);
  }
  100% {
    filter: grayscale(.7);
  }
}
.top-section-wrapper {
  height: 100%;
  width: 100%;
  background-image: url('./images/snowsunset.jpeg');
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  animation: top-content-animate 10s infinite;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  height: 250px;


  h1 {
    text-shadow: 1px 1px black,
    -1px 1px black,
    1px -1px black,
    -1px -1px black;
  }
  h3 {
    text-shadow: 1px 1px black,
    -1px 1px black,
    1px -1px black,
    -1px -1px black;
  }
  span {
    text-shadow: 1px 1px black,
    -1px 1px black,
    1px -1px black,
    -1px -1px black;
    margin: 0 2px;
    a {
      text-decoration: none;
      color: inherit;
    }
    a:hover {
      text-shadow: 1px 1px #e0e5e5,
      -1px 1px #e0e5e5,
      1px -1px #e0e5e5,
      -1px -1px #e0e5e5;
    }
  }
}
//Description Section
.about-section-wrapper {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $background-light;
}
.about-row, .about-row-two {
  margin: 0;
  display: flex;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: auto;
  }
}
.about-box-left {

  width: 40%;
  padding: 10px;
  margin: 10px;
  float: left;
  background-color: rgba(0,0,0, .2);
}
.about-box-right {
  width: 40%;
  padding: 10px;
  float: right;
  background-color: rgba(0,0,0, .2);
}

//PROJECTS SECTION
.project-wrapper {
  background-color: $background-light;
  height: 100%;
  display: flex;
}
.projects-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  width: 210px;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 70px;
	display: inline-block;
  margin: 5px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.perspective {
  perspective: 800px;
  display: inline-block;
}
.project-link-btn {
  display: block;
  background: #5cbcf6;
  transform-style: preserve-3d;
}
.project-link-btn:after {
  width: 21%;
  height: 100%;
  left: -20%;
  top: 0;
  background: #49a7df;
  -webkit-transform-origin: 100% 0%;
	-webkit-transform: rotateY(-90deg);
	-moz-transform-origin: 100% 0%;
	-moz-transform: rotateY(-90deg);
	-ms-transform-origin: 100% 0%;
	-ms-transform: rotateY(-90deg);
  transform-origin: 100% 0%;
  transform: rotateY(-90deg);
}
.project-link-btn:hover {
  -webkit-transform: rotateY(15deg);
  -moz-transform: rotateY(15deg);
  -ms-transform: rotateY(15deg);
  transform: rotateY(15deg);
}
.projects-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.projects-tab-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.project-tab {
  display: flex;
  width: 33.3%;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $background-dark;
  border: 1px solid black;
  &:hover {
    cursor: pointer;
  }
}
.active-tab {
  background-color: $background-light;
}
#fcc-frontend-wrapper {
   display: inline;
}
#fcc-backend-wrapper {
   display: inline;
}
#personal-projects-wrapper {
  display: inline;
}
.portfolio-section {

}
.portfolio-display-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-display-box {
  width: 30%;
  margin: 10px;
  img {
    height: 100%;
    width: 100%;
  }
}
.portfolio-display-backend {
  width: 98%;
  padding: 10px;
}

//CONTACT SECTION
.contact-wrapper {
  background-color: #263238;
  height: 100%;
}

//SOCIAL LINKS SECTION
.social-wrapper {
  background-color: #4f5b62;
  height: 100%;
}

@media (max-width: 600px) {
  #top-section-wrapper {
    color: inherit;
  }
  .about-section-wrapper {
    justify-content: space-around;
    align-items: stretch;
    .img-box {
      display: none;
    }
    img {
      display: none;
    }
  }
  .about-row {
    flex-direction: column;
    align-items: stretch;
  }
  .about-row-two {
    flex-direction: column-reverse;
  }
  .about-box-left {
    float: none;
    width: 98%;
    margin: 0 auto;
  }
  .about-box-right {
    float: none;
    width: 98%;
    margin: 5px auto;
  }
  .resp-break {
    display: block;
  }
  .portfolio-display-row {
    flex-direction: column;
  }
  .portfolio-display-box {
    width: 70%;
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
