.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}

//GLOBAL CHANGES FOR MULTIPLE SECTIONS
.section-border {
  border-bottom: thick solid #000a12;
}
.resp-break {
  display: inline;
}

//***TOP SECTION TITLE AREA***
@keyframes top-content-animate {
  0% {
    filter: grayscale(.7);
  }
  25% {
    filter: grayscale(.4);
  }
  50% {
    filter: grayscale(.3);
  }
  75% {
    filter: grayscale(.4);
  }
  100% {
    filter: grayscale(.7);
  }
}
#top-section-wrapper {
  height: 100%;
  background-image: url('./images/snowsunset.jpeg');
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  text-align: right;
  padding: 10px 20px 20px 20px;
  animation: top-content-animate 10s infinite;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-content {
  height: 250px;


  h1 {
    text-shadow: 1px 1px white,
    -1px 1px white,
    1px -1px white,
    -1px -1px white;
  }
  h3 {
    text-shadow: 1px 1px white,
    -1px 1px white,
    1px -1px white,
    -1px -1px white;
  }
  span {
    text-shadow: 1px 1px white,
    -1px 1px white,
    1px -1px white,
    -1px -1px white;
    margin: 0 2px;
    a {
      text-decoration: none;
      color: inherit;
    }
    a:hover {
      text-shadow: 1px 1px #e0e5e5,
      -1px 1px #e0e5e5,
      1px -1px #e0e5e5,
      -1px -1px #e0e5e5;
    }
  }
}
//Description Section
.about-section-wrapper {
  position: relative;
  z-index: 1;
  justify-content: space-between;
  padding: 48px;
  background-color: #263238;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.about-row {
  width: 98%;
  margin: 0;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}
.about-box-left {
  width: 45%;
  padding: 10px;
  float: left;
  background-color: rgba(0,0,0, .2);
}
.about-box-right {
  width: 45%;
  padding: 10px;
  float: right;
  background-color: rgba(0,0,0, .2);
}

//History Section
.history-wrapper {
  height: 250px;
  background-color: #4f5b62;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

//PROJECTS SECTION
.project-wrapper {
  background-color: #4f5b62;
}

//CONTACT SECTION
.contact-wrapper {
  background-color: #263238;
}

//SOCIAL LINKS SECTION
.social-wrapper {
  background-color: #4f5b62;
}

@media (max-width: 425px) {
  #top-section-wrapper {
    color: inherit;
  }
  .about-box-left {
    float: none;
    width: 98%;
    margin: 0 auto;
  }
  .about-box-right {
    float: none;
    width: 98%;
    margin: 5px auto;
  }
  .description {
    width: 100%;
  }
  .resp-break {
    display: block;
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
